<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<div id="header" class="">
  <span>
    <i class="fa fa-bars"></i>
    <a class="navbar-brand" href="https://youtube.com"><img width="70" src="https://i.ytimg.com/vi/NlVpLOb_7c0/maxresdefault.jpg"></a>
  </span>
  <div class="content">
    <input type="text" style=""><button><i class="fa fa-search"></i></button>
    <span>
      <i class="fa fa-upload"></i>
      <i class="fa fa-bell"></i>
      <span class="my-rounded">
        <i class="fa fa-user"></i>
      </span>
    </span>
  </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<iframe style="width: 100%" height="315" src="https://www.youtube.com/embed/KBirmaiucHg?ecver=1" frameborder="0" allowfullscreen></iframe>
			<div id="details">
				<div class="block">
					<h5>Ibeyi - Better In Tune With The Infinite (Live on KEXP)</h5>
					<div style="position: relative;">
						<img style="position: relative; top : -5px;" width="48" height="48" src="https://yt3.ggpht.com/-yUu4TodvECU/AAAAAAAAAAI/AAAAAAAAAAA/Gd1bmV-Ptb4/s88-c-k-no-mo-rj-c0xffffff/photo.jpg"
						 alt="">
						<div class="view">
							804 978 vues
						</div>
						<div class="author">
							<div>KEXP</div>
							<div class="subscribe"><button class="btn btn-danger btn-sm">S'abonner</button><span>1.1M</span></div>
						</div>

					</div>
					<div class="links">
						<span>
                <i class="fa fa-plus" aria-hidden="true"></i> Ajouter à
              </span>
						<span>
                <i class="fa fa-share" aria-hidden="true"></i> Partager
              </span>

						<span>
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i> Plus
              </span>
						<div class="pull-right">
							<span>
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i> 7 624
                </span>
							<span>
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i> 104
                </span>
						</div>
					</div>
				</div>
        <div class="block" style="font-size: 0.8em; margin-top: 8px">
          <strong>Ajoutée le 13 avr. 2015</strong>
          <p><a href="http://KEXP.ORG">http://KEXP.ORG</a> presents Ibeyi performing a cover of Jay Electronica's "Better In Tune With The Infinite" live in the KEXP studio. Recorded on April 5, 2015.</p>
          <div style="padding-top: 3px; border-top: 1px solid #CCC; text-align: center; color: #CCC">plus</div>
        </div>
			</div>
		</div>
		<div class="col-md-4" id="featured">
			<div class="block">
				<div id="next-song">
					<strong>A suivre</strong>
					<div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <img class="img-fluid" src="https://i.ytimg.com/an_webp/lHRAPIwsS5I/mqdefault_6s.webp?du=3000&sqp=CKCCycwF&rs=AOn4CLCq5p6a7MFPz47wPOFuqOTsEvB3ig"
                 alt="">
              </div>
              <div class="col-sm-6">
                <strong class="song">Ibeyi - River</strong>
                <span class="author-name">Ibeyi</span>
                <span class="view-number">9 744 567 vues</span>
              </div>
            </div>
          </div>
				</div>
				<div style="margin-top: 8px; border-top: 1px solid #CCC">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <img class="img-fluid" src="https://i.ytimg.com/an_webp/kLhnjV3zSvo/mqdefault_6s.webp?du=3000&sqp=CNDcyMwF&rs=AOn4CLClHozDxSweVzWAw1Jc2qjbRc9pCA"
					 alt="">
              </div>
              <div class="col-sm-6">
                <strong>Ibeyi (full concert) - Live @Trianon</strong>
                <span>Ibeyi</span>
                <span>251 353 vues</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <img class="img-fluid" src="https://i.ytimg.com/an_webp/kLhnjV3zSvo/mqdefault_6s.webp?du=3000&sqp=CNDcyMwF&rs=AOn4CLClHozDxSweVzWAw1Jc2qjbRc9pCA"
					 alt="">
              </div>
              <div class="col-sm-6">
                <strong>Ibeyi (full concert) - Live @Trianon</strong>
                <span>Ibeyi</span>
                <span>251 353 vues</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <img class="img-fluid" src="https://i.ytimg.com/an_webp/kLhnjV3zSvo/mqdefault_6s.webp?du=3000&sqp=CNDcyMwF&rs=AOn4CLClHozDxSweVzWAw1Jc2qjbRc9pCA"
					 alt="">
              </div>
              <div class="col-sm-6">
                <strong>Ibeyi (full concert) - Live @Trianon</strong>
                <span>Ibeyi</span>
                <span>251 353 vues</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <img class="img-fluid" src="https://i.ytimg.com/an_webp/kLhnjV3zSvo/mqdefault_6s.webp?du=3000&sqp=CNDcyMwF&rs=AOn4CLClHozDxSweVzWAw1Jc2qjbRc9pCA"
					 alt="">
              </div>
              <div class="col-sm-6">
                <strong>Ibeyi (full concert) - Live @Trianon</strong>
                <span>Ibeyi</span>
                <span>251 353 vues</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <img class="img-fluid" src="https://i.ytimg.com/an_webp/kLhnjV3zSvo/mqdefault_6s.webp?du=3000&sqp=CNDcyMwF&rs=AOn4CLClHozDxSweVzWAw1Jc2qjbRc9pCA"
					 alt="">
              </div>
              <div class="col-sm-6">
                <strong>Ibeyi (full concert) - Live @Trianon</strong>
                <span>Ibeyi</span>
                <span>251 353 vues</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <img class="img-fluid" src="https://i.ytimg.com/an_webp/kLhnjV3zSvo/mqdefault_6s.webp?du=3000&sqp=CNDcyMwF&rs=AOn4CLClHozDxSweVzWAw1Jc2qjbRc9pCA"
					 alt="">
              </div>
              <div class="col-sm-6">
                <strong>Ibeyi (full concert) - Live @Trianon</strong>
                <span>Ibeyi</span>
                <span>251 353 vues</span>
              </div>
            </div>
				  </div>
        </div>
			</div>
		</div>
	</div>
</div>
  </body>

</html>


