@import "bootstrap-sprockets";
@import "bootstrap";

#header {
  padding: 8px 16px;
  min-height: 54px;
  max-height: 54px;
  background-color: white;
  i.fa-bars {
    position: relative;
    top: 9px;
  }
  img {
    margin-top: -13px;
    margin-left: 8px;
    position: absolute;
  }
  .content {
    margin-left: 250px; margin-top: -17px;
    input {
      width: 40%;
    }
    > span {
      float: right; margin-right: 8px; font-size: 1.3em; position: relative; top: -3px;
      > i.fa {
        margin-left: 8px
      }
      .my-rounded {
        margin-left: 8px;
        background-color: #ACE;
        display: inline-block;
        width: 32px;
        height: 32px;
        text-align: center;
        border-radius: 50%;
      }
    }
  }
}
body {
  background-color: #f1f1f1
}
.container {
  margin-top: 8px;
  .col-md-8 {
    padding: 0
  }
  @media (min-width: 768px) {
    .col-md-4 {
      padding: 0 0 0 8px
    }
  }
  @media (max-width: 768px) {
    .col-md-4 {
      margin-top: 8px;
      padding: 0;
    }
  }
}

.block {
  background-color: white;
  padding: 8px;
}
#details {
  .subscribe button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .subscribe span {
    color: #737373;
    border: 1px solid #CCC;
    padding: 7px;
    font-size: 0.8em;
  }
  .author {
    display:inline-block; position: relative; top: 5px
  }
  .view {
    border-bottom: 2px solid #0577c9;
    min-width: 160px;
    display: inline-block;
    text-align: right;
    position: absolute; right: 0;
    margin-top: 45px;
    font-size: 1.1em;
    color: #666
  }

  .links {
    padding-top: 5px;
    margin-top: 8px; border-top: 1px solid #CCC ;
    font-size: 0.8em;
    > span {
      margin-right: 8px;
    }
    > .pull-right {
      float: right;
      span {
        margin-left: 8px;
      }
    }
  }
}

#featured {
  #next-song {
    > strong { font-size: 0.8em }
  }
  .row {
    margin-top: 8px;
    .col-xs-6, .col-sm-6, .col-md-6 {
      padding: 0;
      &:first-child {
        padding-right: 4px;
      }
      &:last-child {
        padding-left: 4px;
        strong, span {
          font-size: 0.8em;
          display: block;
        }
        span {
          color: #666;
        }
      }
    }
  }
}
